* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/dark-3061610_1920.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
}

h2 {
  color: lightgrey;	
  font-size: 3vw;
}

h3 {
  color: lightgrey;	
  font-size: 1.4vw;
}

a {
  padding:10px;
  font-size: 1vw;
  color:lightgray;
}

p {
  font-size: 1.8vw;
  line-height: 1.5;
  font-family: 'Julius Sans One', sans-serif;
  
}

.mainframe {
  height: 100vh;
  width: 100vw;
}

.frameleft {
  display:flex;
  justify-content: center;
  align-items: center;  
  height: 100vh;
  width: 61.5vw;
  float:left;
}

.frameright {
  display:flex;
  justify-content: center;
  align-items: center;  
  height: 100vh;
  width: 38.5vw;
  float:right;
  text-align:center;
}

.framecenter {
  display:flex;	
  justify-content: space-around;
  flex-direction: column;
  background-color: hsla(0, 0%, 50%, .5);
  height: 90%;
  width: 90%;

}

.framepict {
  background-color: hsla(0, 0%, 70%, .5);
  height: 40%;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.flip-card {
  background-color: transparent;
  width: 50%;
  height: 50%;
  perspective: 1000px;
  margin:0 auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

#pege {
  width: 100%;
  height: auto;
}

.flip-card-back {

  color: white;
  transform: rotateY(180deg);
}

.textleft {
  background-color: hsla(0, 0%, 100%, .5);
  padding:2%;
  height: 40%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  text-align:center;
}

.textright {
  display:flex;
  justify-content: center;
  align-items: center;  
  background-color: hsla(0, 0%, 50%, .5);
  height: 90%;
  width: 90%;
  flex-direction: column;
  line-height: 1.8;
}

/* Eltávolítjuk a fekete pontokat a listaelemek elől, és egymás mellé pozicionáljuk őket: */
ul {
  list-style-type: none;
}
li {
  display: inline;
}